In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [39]:
df = pd.read_csv('final_csv')

In [40]:
df.shape

(120777, 4)

In [41]:
df.head()

   Unnamed: 0 gender   race                  name
0           0      f  black   tashanika l abraham
1           1      f  black       denetra c adams
2           2      f  black       tomesha d adams
3           3      f  black      trellany c adams
4           4      f  black    cynthia s adderley

In [42]:
#### remonving the fourth column

In [43]:
df.pop('Unnamed: 0')

0             0
1             1
2             2
3             3
4             4
5             5
6             6
7             7
8             8
9             9
10           10
11           11
12           12
13           13
14           14
15           15
16           16
17           17
18           18
19           19
20           20
21           21
22           22
23           23
24           24
25           25
26           26
27           27
28           28
29           29
          ...
120747    44018
120748    44019
120749    44020
120750    44021
120751    44022
120752    44023
120753    44024
120754    44025
120755    44026
120756    44027
120757    44028
120758    44029
120759    44030
120760    44031
120761    44032
120762    44033
120763    44034
120764    44035
120765    44036
120766    44037
120767    44038
120768    44039
120769    44040
120770    44041
120771    44042
120772    44043
120773    44044
120774    44045
120775    44046
120776    44047
Name: Unnamed: 0, Length: 120777, dtype: int64

In [44]:
df.head()

  gender   race                  name
0      f  black   tashanika l abraham
1      f  black       denetra c adams
2      f  black       tomesha d adams
3      f  black      trellany c adams
4      f  black    cynthia s adderley

In [45]:
Y = df['race']
X = df[['gender','name']]

In [46]:
 np.unique(np.array(Y))

array(['b', 'black', 'hispanic', 'indian', 'white'], dtype=object)

In [47]:
df.groupby('race').count()

          gender   name
race
b              1      1
black      37518  37518
hispanic    4383   4383
indian     30227  30172
white      48648  48648

In [50]:
df = df[df.race != 'b']

In [51]:
df.shape

(120776, 3)

In [52]:
df.groupby('race').count()

          gender   name
race
black      37518  37518
hispanic    4383   4383
indian     30227  30172
white      48648  48648

In [53]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [54]:
le.fit(df['gender'])

LabelEncoder()

In [55]:
le.classes_

array(['f', 'm'], dtype=object)

In [56]:
df['gender'] = le.transform(df['gender'])

In [57]:
df.head()

   gender   race                  name
0       0  black   tashanika l abraham
1       0  black       denetra c adams
2       0  black       tomesha d adams
3       0  black      trellany c adams
4       0  black    cynthia s adderley

In [58]:
df.groupby('gender').count()

         race   name
gender
0       22637  22606
1       98139  98115

In [59]:
df.to_csv('model-making')