In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('model-making')

In [3]:
df.head()

   Unnamed: 0  gender  race                  name
0           0       0     0   tashanika l abraham
1           1       0     0       denetra c adams
2           2       0     0       tomesha d adams
3           3       0     0      trellany c adams
4           4       0     0    cynthia s adderley

In [4]:
df.pop('Unnamed: 0')

0              0
1              1
2              2
3              3
4              4
5              5
6              6
7              7
8              8
9              9
10            10
11            11
12            12
13            13
14            14
15            15
16            16
17            17
18            18
19            19
20            20
21            21
22            22
23            23
24            24
25            25
26            26
27            27
28            28
29            29
           ...
120746    120747
120747    120748
120748    120749
120749    120750
120750    120751
120751    120752
120752    120753
120753    120754
120754    120755
120755    120756
120756    120757
120757    120758
120758    120759
120759    120760
120760    120761
120761    120762
120762    120763
120763    120764
120764    120765
120765    120766
120766    120767
120767    120768
120768    120769
120769    120770
120770    120771
120771    120772
120772    120773
120773    120774
120774    120775
120775    120776
Name: Unnamed: 0, Length: 120776, dtype: int64

In [5]:
X = df['name']
Y = df['race']

In [6]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/shivam/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [7]:
list = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [46]:
from nltk.tokenize import word_tokenize
tokens = []
X = X.astype(str)
for name in X:
    tokens.append(word_tokenize(name))

In [47]:
check = pd.DataFrame(tokens)

In [48]:
check

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,tashanika,l,abraham,None,None,None,None,None,None,None,None,None,None
1,denetra,c,adams,None,None,None,None,None,None,None,None,None,None
2,tomesha,d,adams,None,None,None,None,None,None,None,None,None,None
3,trellany,c,adams,None,None,None,None,None,None,None,None,None,None
4,cynthia,s,adderley,None,None,None,None,None,None,None,None,None,None
5,crystal,l,addison,None,None,None,None,None,None,None,None,None,None
6,beverly,s,adkins,None,None,None,None,None,None,None,None,None,None
7,robin,adkins,None,None,None,None,None,None,None,None,None,None,None
8,sophia,l,adkins,None,None,None,None,None,None,None,None,None,None
9,marquita,adley,None,None,None,None,None,None,None,None,None,None,None
10,sylvia,h,agaro,None,None,None,None,None,None,None,None,None,None
11,dorothy,k,agyei,None,None,None,None,None,None,None,None,None,None
12,zakiyyah,n,al-matteen,None,None,None,None,None,None,None,None,None,None
13,crystal,r,albury,None,None,None,None,None,None,None,None,None,None
14,allissia,p,alexander,None,None,None,None,None,None,None,None,None,None
15,mahogany,t,alexander,None,None,None,None,None,None,None,None,None,None
16,melonise,alexander,None,None,None,None,None,None,None,None,None,None,None
17,monique,alexander,None,None,None,None,None,None,None,None,None,None,None
18,sherline,alexander,None,None,None,None,None,None,None,None,None,None,None
19,veronica,j,alexander,None,None,None,None,None,None,None,None,None,None
20,beverly,j,allen,None,None,None,None,None,None,None,None,None,None
21,brenda,j,allen,None,None,None,None,None,None,None,None,None,None
22,delta,s,allen,None,None,None,None,None,None,None,None,None,None
23,genesha,l,allen,None,None,None,None,None,None,None,None,None,None
24,margaret,a,allen,None,None,None,None,None,None,None,None,None,None
25,stephanie,s,allen,None,None,None,None,None,None,None,None,None,None
26,pachadgin,e,alston,None,None,None,None,None,None,None,None,None,None
27,shaina,a,alston,None,None,None,None,None,None,None,None,None,None
28,latonia,d,alvin,None,None,None,None,None,None,None,None,None,None
29,ashley,a,anderson,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120746,jonathan,cyoung,None,None,None,None,None,None,None,None,None,None,None
120747,joshua,jyoung,None,None,None,None,None,None,None,None,None,None,None
120748,michael,ayoung,None,None,None,None,None,None,None,None,None,None,None
120749,michael,byoung,None,None,None,None,None,None,None,None,None,None,None
120750,michael,lyoung,None,None,None,None,None,None,None,None,None,None,None
120751,ryan,wyoung,None,None,None,None,None,None,None,None,None,None,None
120752,stanley,eyoung,None,None,None,None,None,None,None,None,None,None,None
120753,steven,lyoung,None,None,None,None,None,None,None,None,None,None,None
120754,edward,youngblood,None,None,None,None,None,None,None,None,None,None,None
120755,john,ayoungblood,None,None,None,None,None,None,None,None,None,None,None
120756,ronald,lyoungblood,None,None,None,None,None,None,None,None,None,None,None
120757,steven,youngblood,None,None,None,None,None,None,None,None,None,None,None
120758,james,younger,None,None,None,None,None,None,None,None,None,None,None
120759,robert,lyoungii,None,None,None,None,None,None,None,None,None,None,None
120760,william,fyoungjr,None,None,None,None,None,None,None,None,None,None,None
120761,james,pyount,None,None,None,None,None,None,None,None,None,None,None
120762,dusty,azacharysr,None,None,None,None,None,None,None,None,None,None,None
120763,bryan,szakis,None,None,None,None,None,None,None,None,None,None,None
120764,anthoy,lzakrzewski,None,None,None,None,None,None,None,None,None,None,None
120765,emory,jzastrow,None,None,None,None,None,None,None,None,None,None,None
120766,zachariah,zelk,None,None,None,None,None,None,None,None,None,None,None
120767,jason,dzelnick,None,None,None,None,None,None,None,None,None,None,None
120768,daniel,jzepeda,None,None,None,None,None,None,None,None,None,None,None
120769,dwayne,mziegenfuss,None,None,None,None,None,None,None,None,None,None,None
120770,alvah,wzimmerman,None,None,None,None,None,None,None,None,None,None,None
120771,mark,ezintel,None,None,None,None,None,None,None,None,None,None,None
120772,jerread,czipper,None,None,None,None,None,None,None,None,None,None,None
120773,john,ezones,None,None,None,None,None,None,None,None,None,None,None
120774,joshua,azuber,None,None,None,None,None,None,None,None,None,None,None
120775,spencer,zwolanek,None,None,None,None,None,None,None,None,None,None,None

In [49]:
import re

In [50]:
word2count = {}

In [51]:
for names in tokens:
    for word in names:
        if word not in word2count:
            word2count[word] = 1
        else:
            word2count[word] +=1

In [52]:
word2count

{'tashanika': 1,
 'l': 8777,
 'abraham': 40,
 'denetra': 1,
 'c': 2870,
 'adams': 175,
 'tomesha': 1,
 'd': 5235,
 'trellany': 1,
 'cynthia': 37,
 's': 2267,
 'adderley': 3,
 'crystal': 57,
 'addison': 28,
 'beverly': 24,
 'adkins': 38,
 'robin': 49,
 'sophia': 7,
 'marquita': 2,
 'adley': 2,
 'sylvia': 9,
 'h': 920,
 'agaro': 1,
 'dorothy': 8,
 'k': 1129,
 'agyei': 1,
 'zakiyyah': 1,
 'n': 865,
 'al-matteen': 1,
 'r': 3953,
 'albury': 8,
 'allissia': 1,
 'p': 1308,
 'alexander': 286,
 'mahogany': 1,
 't': 2102,
 'melonise': 1,
 'monique': 14,
 'sherline': 1,
 'veronica': 14,
 'j': 5875,
 'allen': 393,
 'brenda': 27,
 'delta': 1,
 'genesha': 1,
 'margaret': 12,
 'a': 6883,
 'stephanie': 51,
 'pachadgin': 1,
 'e': 3567,
 'alston': 16,
 'shaina': 4,
 'latonia': 2,
 'alvin': 113,
 'ashley': 122,
 'anderson': 330,
 'brianna': 9,
 'carlas': 1,
 'y': 99,
 'donna': 39,
 'f': 1011,
 'ethel': 2,
 'm': 4366,
 'juanetta': 1,
 'leslie': 52,
 'paula': 16,
 'radja': 1,
 'tonya': 25,
 'b': 1798,
 'jessica': 94,
 'anderson-brown': 1,
 'andre': 159,
 'udreka': 1,
 'andrews': 75,
 'rosenia': 1,
 'anthony': 1078,
 'shirley': 17,
 'ardley': 2,
 'shelda': 1,
 'armand': 8,
 'armour': 2,
 'jasmimn': 1,
 'armstrong': 60,
 'arnold': 95,
 'april': 25,
 'arthur': 190,
 'cheryl': 23,
 'tiffany': 56,
 'ash': 14,
 'lanadieal': 1,
 'ashe': 6,
 'ladonne': 1,
 'asquith': 1,
 'annette': 7,
 'atkins': 41,
 'helen': 4,
 'eniee': 1,
 'austin': 127,
 'eugenia': 5,
 'linda': 43,
 'sierra': 5,
 'star': 1,
 'avery': 30,
 'bernadette': 6,
 'avery-parker': 1,
 'jameelah': 1,
 'aziz': 3,
 'krystle': 5,
 'bailey': 132,
 'sharon': 27,
 'derica': 1,
 'baity': 4,
 'annie': 9,
 'v': 567,
 'baker': 203,
 'billie': 9,
 'kizzie': 2,
 'lacresha': 2,
 'meeka': 1,
 'raquel': 4,
 'shanearia': 1,
 'lakisha': 1,
 'baldwin': 45,
 'tammy': 39,
 'ball': 19,
 'jamyira': 1,
 'ballard': 21,
 'jeanette': 8,
 'banks': 67,
 'melissa': 79,
 'sherry': 13,
 'banton': 2,
 'minouche': 1,
 'baptiste': 21,
 'barber': 52,
 'tamisha': 3,
 'barbour': 5,
 'courtney': 71,
 'bargnare': 3,
 'shakeria': 2,
 'dana': 40,
 'barkeley': 1,
 'angela': 72,
 'barkley': 13,
 'joanna': 8,
 'emerald': 3,
 'barner': 3,
 'shalonda': 3,
 'barrett': 41,
 'lorraine': 9,
 'barrow': 8,
 'lolita': 2,
 'barthel': 1,
 'bertha': 5,
 'bates': 32,
 'erica': 24,
 'battle': 39,
 'madiyah': 1,
 'denise': 17,
 'battles': 11,
 'lucrecha': 1,
 'kimberly': 90,
 'baxter': 15,
 'teresa': 27,
 'o': 662,
 'bea': 1,
 'latoya': 18,
 'bean': 29,
 'sheveal': 1,
 'beasley': 41,
 'dena': 1,
 'bell': 211,
 'henrietta': 1,
 'davina': 1,
 'bellamy': 33,
 'ferin': 1,
 'gwendolyn': 6,
 'kavarus': 1,
 'zikerria': 1,
 'z': 59,
 'charlene': 8,
 'benbow': 3,
 'cassandra': 25,
 'bender': 9,
 'gina': 15,
 'benitez': 22,
 'lillian': 4,
 'benjamin': 242,
 'lisa': 70,
 'patricia': 46,
 'laquisha': 2,
 'bennett': 119,
 'saraonda': 1,
 'emma': 4,
 'berring': 3,
 'deedra': 1,
 'berry': 46,
 'bess': 9,
 'ericka': 2,
 'bethea': 8,
 'bettis-ware': 1,
 'sandy': 12,
 'bigham': 4,
 'tamakia': 1,
 'black': 72,
 'vanessa': 16,
 'valerie': 15,
 'blanc': 9,
 'rosemary': 4,
 'blanco': 24,
 'latoysha': 1,
 'blankenship': 13,
 'tracey': 13,
 'blocker': 15,
 'blount': 16,
 'jacquita': 1,
 'blue': 27,
 'shatoyia': 1,
 'boggs': 10,
 'felicia': 17,
 'bones': 2,
 'lucille': 2,
 'mekayla': 1,
 'bonneanne': 1,
 'tijuana': 1,
 'bovian': 1,
 'markita': 4,
 'bowers': 22,
 'teneya': 1,
 'bowles': 11,
 'bowman': 31,
 'boyd': 75,
 'nicole': 68,
 'shamekia': 2,
 'brackins': 3,
 'cordera': 2,
 'bracy': 4,
 'yalanda': 2,
 'braddock': 5,
 'sharicka': 1,
 'bradford': 39,
 'richelle': 1,
 'bradshaw': 19,
 'dejuana': 1,
 'bradwell': 7,
 'pamela': 26,
 'branch': 24,
 'nikeyshia': 1,
 'brannic': 1,
 'zakia': 2,
 'branton': 10,
 'hope': 28,
 'braun': 6,
 'shantel': 3,
 'bray': 19,
 'judith': 9,
 'brazier': 1,
 'catrice': 2,
 'brazile': 3,
 'sufern': 1,
 'breeze': 3,
 'fisthnise': 1,
 'breux': 1,
 'natasha': 15,
 'brewer': 27,
 'brewington': 3,
 'chrissandra': 1,
 'brewster': 4,
 'dominique': 45,
 'brice': 12,
 'amethyst': 1,
 'brinson': 42,
 'chernece': 1,
 'denice': 1,
 'gloria': 19,
 'britt': 30,
 'valgean': 1,
 'britton': 9,
 'mamie': 2,
 'w': 2125,
 'broderick': 9,
 'brokenborough': 3,
 'debora': 3,
 'brooks': 173,
 'shakera': 1,
 'q': 122,
 'tabitha': 13,
 'takeya': 1,
 'chonvandra': 1,
 'brookshire': 1,
 'latasha': 13,
 'brothers': 10,
 'aysia': 1,
 'browdy': 3,
 'alexis': 84,
 'brown': 1082,
 'alfreda': 4,
 'ayana': 2,
 'britanica': 1,
 'camille': 4,
 'charmaine': 2,
 'charrdonaye': 1,
 'damiana': 1,
 'frances': 11,
 'gelera': 1,
 'ina': 1,
 'jennifer': 145,
 'karla': 4,
 'katrina': 17,
 'kendra': 6,
 'kenyatta': 12,
 'lashundria': 1,
 'latonya': 3,
 'lonnie': 55,
 'marci': 3,
 'moniqua': 1,
 'naome': 1,
 'natalie': 11,
 'niayetta': 1,
 'precious': 5,
 'romona': 1,
 'rusheda': 1,
 'shantoya': 1,
 'shela': 2,
 'shelia': 1,
 'shontell': 2,
 'sonya': 7,
 'tania': 3,
 'tashara': 1,
 'teretha': 1,
 'tina': 40,
 'tory': 7,
 'tykebitha': 1,
 'i': 302,
 'qiana': 1,
 'brownlee': 9,
 'israel': 54,
 'bruce-eshun': 1,
 'melinda': 17,
 'bruton': 5,
 'andrea': 24,
 'bryant': 231,
 'angelina': 7,
 'ebony': 10,
 'leanna': 5,
 'lockie': 1,
 'tracy': 103,
 'wanda': 12,
 'terri': 6,
 'buchanan': 13,
 'yvette': 5,
 'bufford': 3,
 'lauren': 13,
 'buggs': 8,
 'cedrenea': 1,
 'bullard': 22,
 'andrean': 1,
 'burgess': 61,
 'beatrice': 1,
 'edna': 4,
 'takikie': 1,
 'burke': 55,
 'burnett': 20,
 'jacquelyn': 5,
 'burroughs': 8,
 'burrows': 10,
 'taquesta': 2,
 'bush': 56,
 'marie': 12,
 'buskey': 1,
 'anntawanna': 1,
 'butler': 178,
 'lacharion': 1,
 'roxanne': 7,
 'shernita': 1,
 'shenkda': 1,
 'butts': 9,
 'kalnisha': 1,
 'byas': 1,
 'bynes': 10,
 'bynum': 7,
 'tamera': 2,
 'tami': 2,
 'cameshia': 1,
 'byrd': 99,
 'kerry': 28,
 'valencia': 3,
 'khierta': 1,
 'byrdo': 3,
 'tamara': 8,
 'cadet': 12,
 'mattie': 3,
 'caeser': 2,
 'shelea': 1,
 'tayquaill': 1,
 'cain': 30,
 'nikki': 19,
 'caldwell': 37,
 'lakira': 1,
 'calhoun': 34,
 'shameka': 5,
 'callins': 1,
 'alesha': 2,
 'calvin': 194,
 'tia': 5,
 'camp': 7,
 'cheraina': 1,
 'campbell': 164,
 'demetria': 5,
 'terry': 345,
 'yolanda': 14,
 'cannon': 54,
 'g': 1351,
 'zucchini': 1,
 'alexus': 2,
 'capers': 12,
 'aysheia': 1,
 'carpenter': 34,
 'carpentier': 3,
 'tremeka': 1,
 'carr': 44,
 'asia': 4,
 'carter': 217,
 'rebecca': 46,
 'toccara': 6,
 'kenitra': 1,
 'casper': 3,
 'joycelyn': 1,
 'catwell': 1,
 'kim': 17,
 'chaney': 18,
 'elanda': 1,
 'charles': 1030,
 'minerva': 1,
 'charlot': 1,
 'chelsea': 9,
 'charlton': 10,
 'portia': 1,
 'chatfield': 5,
 'alicia': 14,
 'chatmon': 2,
 'gytonia': 1,
 'cheek': 7,
 'charlotte': 12,
 'cheevers': 1,
 'ermana': 1,
 'cherisma': 2,
 'chester': 46,
 'arshantayvi': 1,
 'chinn': 1,
 'shantwanice': 1,
 'chisem': 1,
 'letisha': 1,
 'christian': 144,
 'nekosha': 1,
 'chukes': 2,
 'chantay': 3,
 'clark': 268,
 'queen': 7,
 'shimika': 1,
 'arlean': 1,
 'clarke': 32,
 'katie': 4,
 'ruby': 37,
 'clavelle': 2,
 'susanne': 4,
 'clowers': 5,
 'curtessa': 1,
 'coates': 9,
 'cobb': 51,
 'cierra': 1,
 'freda': 2,
 'jacquella': 1,
 'marlo': 2,
 'sabrina': 17,
 'genie': 1,
 'cohen': 26,
 'colbert': 16,
 'tempress': 1,
 'coldy': 1,
 'hawanya': 1,
 'cole': 68,
 'chantel': 3,
 'coleman': 138,
 'bianca': 4,
 'collins': 154,
 'cyntina': 1,
 'kesha': 4,
 'savonia': 1,
 'shayla': 5,
 'colson': 11,
 'combs': 26,
 'coney': 16,
 'vivian': 6,
 'amanda': 100,
 'connelly': 3,
 'keryline': 1,
 'conner': 24,
 'conoly': 1,
 'conyers': 12,
 'dejina': 1,
 'edricka': 1,
 'cook': 105,
 'princess': 3,
 'cooke': 6,
 'rhonda': 17,
 'cooks': 15,
 'juanita': 6,
 'cooley': 16,
 'cooper': 170,
 'hinda': 1,
 'joy': 14,
 'kambrina': 1,
 'mary': 68,
 'sandra': 21,
 'shanieka': 1,
 'shara': 5,
 'torina': 1,
 'keia': 1,
 'copes': 2,
 'dorthy': 1,
 'cotton': 26,
 'connie': 7,
 'covington': 14,
 'cowart': 23,
 'leola': 1,
 'cox': 97,
 'mynicia': 1,
 'craft': 14,
 'eddie': 213,
 'craig': 152,
 'rosielee': 1,
 'crawford': 78,
 'tonae': 1,
 'tyeshia': 1,
 'carla': 11,
 'cray': 6,
 'vevine': 1,
 'creighton': 6,
 'dwana': 1,
 'cresser': 1,
 'wylene': 1,
 'crissel': 1,
 'pearl': 4,
 'croft': 8,
 'oletha': 1,
 'cross': 31,
 'croud': 1,
 'crowell': 5,
 'shantiel': 1,
 'cuffy': 2,
 'tamish': 1,
 'culbreth': 5,
 'tyneshea': 1,
 'cullen': 5,
 'lena': 3,
 'cumberbatch': 2,
 'cunningham': 45,
 'current': 4,
 'dayeisha': 1,
 'curry': 91,
 'joanne': 2,
 'lateara': 1,
 'nina': 3,
 'sherlina': 1,
 'curtis': 259,
 'shacoia': 1,
 'cuyler': 7,
 'porsha': 1,
 'dale': 113,
 'abigail': 4,
 'damoah': 1,
 'lutrische': 1,
 'dancy': 1,
 'delois': 1,
 'daniels': 166,
 'gabrielle': 1,
 'marvette': 1,
 'senita': 1,
 'janine': 4,
 'danzey': 4,
 'daodu': 1,
 'carlita': 1,
 'davis': 704,
 'chinnetta': 1,
 'debra': 31,
 'delores': 1,
 'na': 5,
 'tasha': 7,
 'rochelle': 8,
 'starr': 1,
 'susie': 1,
 'takcola': 1,
 'tawrshiana': 1,
 'teka': 1,
 'dymond': 1,
 'dawn': 29,
 'latarsha': 2,
 'dawson': 49,
 'renee': 17,
 'terrani': 1,
 'dean': 111,
 'everlyn': 1,
 'debose': 10,
 'delancy': 7,
 'daysha': 1,
 'delima': 1,
 'dell': 12,
 'dellinger': 1,
 'demery': 3,
 'denmark': 12,
 'quanshandra': 1,
 'dennard': 11,
 'shantae': 1,
 'dennis': 299,
 'denson': 18,
 'venecia': 2,
 'depaula': 1,
 'diaz': 158,
 'dickerson': 28,
 'dillard': 17,
 'keshia': 1,
 'divvens': 1,
 'dierdre': 1,
 'dixon': 150,
 'ernestine': 2,
 'laurie': 5,
 'mariela': 1,
 'orlesa': 1,
 'tammie': 3,
 'carine': 1,
 'doctor': 10,
 'jane': 7,
 'doe': 11,
 'titilayo': 1,
 'dokun': 1,
 'qmetee': 1,
 'dominguez': 26,
 'june': 9,
 'donato': 4,
 'dorceus': 1,
 'dority': 3,
 'jessie': 116,
 'dorsey': 30,
 'zorona': 1,
 'doster': 3,
 'sonji': 1,
 'dottery': 1,
 'douglas': 267,
 'kendrioa': 1,
 'zenithia': 1,
 'x': 52,
 'guecoba': 1,
 'dow': 6,
 'dowdell': 7,
 'downer': 4,
 'sarethya': 1,
 'downing': 15,
 'yarkmealer': 1,
 'dozier': 17,
 'drangel': 1,
 'drayton': 18,
 'fermisha': 1,
 'drewery': 4,
 'sherese': 1,
 'driver': 9,
 'dudley-newson': 1,
 'kathryn': 10,
 'dugans': 1,
 'shanice': 2,
 'dukes': 33,
 'dunbar': 24,
 'duncan': 54,
 'jerrica': 1,
 'lakeisha': 3,
 'dupree': 16,
 'durante': 1,
 'durham': 24,
 'edge': 7,
 'edmond': 23,
 'edmonson': 3,
 'batsheba': 1,
 'edouard': 6,
 'angetina': 1,
 'edwards': 219,
 'cortney': 5,
 'tamarra': 1,
 'elder': 9,
 'tarron': 2,
 'eley': 4,
 'ellerbe': 4,
 'ellis': 96,
 'monica': 14,
 'ellison': 24,
 'ianna': 1,
 'emanuel': 44,
 'jimmiel': 1,
 'engram': 4,
 'thursday': 1,
 'brittany': 36,
 'erickson': 11,
 'phadael': 1,
 'estime': 4,
 'evans': 190,
 'deliana': 1,
 'ersela': 1,
 'kayla': 17,
 'mikesha': 1,
 'everette': 13,
 'exilorme': 1,
 'facen': 2,
 'laporshia': 1,
 'fann': 4,
 'tyrisha': 1,
 'laquita': 2,
 'farley': 16,
 'faulks': 1,
 'melonea': 1,
 'feagin': 5,
 'felder': 21,
 'felton': 38,
 'shantavious': 1,
 'fenderson': 1,
 'nakeisha': 1,
 'fennell': 10,
 'georgette': 2,
 'ferguson': 67,
 'vickie': 2,
 'laneka': 1,
 'ferrer': 13,
 'fields': 65,
 'michelle': 74,
 'fiffie': 1,
 'idala': 1,
 'fillmore': 7,
 'fils': 1,
 'quanesha': 1,
 'fisher': 50,
 'tenecia': 1,
 'tiesha': 3,
 'kiera': 1,
 'florence': 13,
 'diane': 7,
 'flournoy': 9,
 'flowers': 69,
 'mable': 1,
 'alvatina': 1,
 'flucker': 4,
 'ursula': 3,
 'footman': 10,
 'elaine': 6,
 'forbes': 32,
 'yvonne': 4,
 'jenieka': 1,
 'ford': 112,
 'keturah': 1,
 'metika': 1,
 'shamiekka': 1,
 'wilhemina': 1,
 'forrest': 27,
 'forshee': 4,
 'kwanzara': 1,
 'fort': 4,
 'forte': 7,
 'jaime': 40,
 'femesha': 1,
 'foster': 110,
 'marsha': 7,
 'shalandrea': 1,
 'tenisha': 3,
 'adrien': 4,
 'ricks': 19,
 'fountain': 33,
 'daria': 1,
 'fowler': 48,
 'fox': 37,
 'shadesia': 1,
 'francis': 76,
 'latoria': 3,
 'frazier': 93,
 'phyllis': 7,
 'ukenia': 1,
 'vanita': 1,
 'jennyse': 1,
 'frederick': 158,
 'freeman': 113,
 'francietta': 1,
 'keira': 1,
 'frieson': 1,
 'frink': 2,
 'fryer': 3,
 'fuller': 46,
 'fulton': 30,
 'fundora': 2,
 'futch': 12,
 'shanta': 6,
 'gadskin': 1,
 'jamisha': 1,
 'gadson': 18,
 'iris': 5,
 'gainer': 12,
 'babetta': 1,
 'gaines': 39,
 'rekenda': 1,
 'slynithia': 1,
 'galloway': 19,
 'santana': 35,
 'gamble': 21,
 'gambles': 1,
 'bobby': 267,
 'gandy': 7,
 'stacy': 39,
 'alexandria': 5,
 'gantt': 8,
 'fredkedra': 1,
 'gardner': 55,
 'jamie': 126,
 'rachel': 24,
 'shakevia': 1,
 'tanika': 1,
 'deanne': 1,
 'garland': 17,
 'shebeyonne': 1,
 'garner': 23,
 'loveria': 1,
 'garrett': 71,
 'virginia': 10,
 'laquiata': 1,
 'garvin': 14,
 'zykira': 1,
 'tanesha': 1,
 'gary': 421,
 'shakeya': 1,
 'gaskin': 12,
 'jasmine': 9,
 'gaynor': 6,
 'dywanda': 1,
 'george': 432,
 'lekeshia': 1,
 'germain': 5,
 'deanna': 10,
 'gerringer': 1,
 'gethers': 1,
 'barbara': 36,
 'gibson': 83,
 'anquette': 1,
 'giddens': 6,
 'gilbert': 86,
 'bonnie': 8,
 'emily': 13,
 'alltawanna': 1,
 'gilchrist': 9,
 'starcena': 1,
 'giles': 28,
 'kiairra': 1,
 'gilliam': 12,
 'gills': 1,
 'gilly': 1,
 'gilmore': 26,
 'vonzay': 1,
 'windy': 3,
 'sharday': 1,
 'gilyard': 8,
 'chiquita': 2,
 'girley': 2,
 'givens': 21,
 'angel': 190,
 'glenn': 125,
 'quachetta': 1,
 'glispy': 2,
 'jalinqua': 1,
 'glisson': 7,
 'glover': 63,
 'derlyn': 1,
 'keyuanna': 1,
 'godwin': 23,
 'kaleigh': 2,
 'goff': 10,
 'eloise': 1,
 'goins': 12,
 'norgiea': 1,
 'goldsmith': 11,
 'gooden': 7,
 'goodman': 30,
 'celese': 1,
 'gordon': 128,
 'irene': 3,
 'nichole': 14,
 'deshana': 1,
 'goss': 11,
 'myrlaine': 1,
 'goudou': 1,
 'graham': 141,
 'odessa': 1,
 'shannon': 102,
 'grant': 120,
 'lakita': 1,
 'tricia': 5,
 'graves': 27,
 'gray': 94,
 'lillie': 5,
 'thasa': 1,
 'devanette': 1,
 'graydon': 3,
 'green': 321,
 'chenika': 1,
 'lakella': 1,
 'marilyn': 3,
 'marion': 44,
 'odette': 2,
 'sheila': 18,
 'thea': 2,
 'tonja': 1,
 'vonice': 1,
 'kiara': 1,
 'greene': 60,
 'queneshia': 1,
 'tasara': 1,
 'grice': 10,
 'griffin': 176,
 'conchetia': 1,
 'keshara': 1,
 'latisha': 2,
 'natika': 1,
 'theresa': 19,
 'vikki': 8,
 'tanya': 15,
 'griggs': 15,
 'dashanna': 1,
 'groover': 6,
 'grubbs': 10,
 'gunsby': 4,
 'bijan': 2,
 'guy': 36,
 'virgie': 1,
 'haire': 6,
 'zella': 1,
 'carol': 14,
 'halback': 1,
 'breyanna': 1,
 'hall': 301,
 'caroline': 5,
 'felisa': 2,
 'likita': 1,
 'nora': 2,
 'shashana': 1,
 'sydella': 1,
 'tamesha': 1,
 'tonie': 2,
 'tressie': 2,
 'ellisha': 1,
 'hallback': 3,
 'briana': 4,
 'hamilton': 100,
 'ivey': 14,
 'lacoya': 1,
 'lakesha': 3,
 'hammett': 4,
 'hammond': 26,
 'lashawndra': 1,
 'hampton': 64,
 'jean': 161,
 'tasheena': 1,
 'willie': 526,
 'hanfield': 1,
 'ciera': 2,
 'hankins': 9,
 'elizabeth': 46,
 'harden': 36,
 'krystal': 11,
 'jameisha': 1,
 'hardin': 14,
 'samantha': 34,
 'hardrick': 3,
 'hardy': 51,
 'shemira': 1,
 'hargrove': 9,
 'kerteshia': 1,
 'harman': 2,
 'laura': 33,
 'harper': 57,
 'harriell': 4,
 'harrington': 24,
 'opreail': 1,
 'harris': 445,
 'audrey': 7,
 'bresha': 1,
 'dorothea': 1,
 'francesca': 4,
 'iesha': 2,
 'ivory': 31,
 'latrice': 2,
 'nakeitha': 1,
 'loretha': 1,
 'hart': 53,
 'hartley': 29,
 'tawana': 2,
 'harvey': 94,
 'hatcher': 22,
 'priscilla': 6,
 ...}

In [65]:
threshold = 5
words2int = {}
wordcount = 1

In [66]:
for word,count in word2count.items():
    if count >= threshold:
        words2int[word] = wordcount
        wordcount += 1

In [67]:
words2int

{'l': 1,
 'abraham': 2,
 'c': 3,
 'adams': 4,
 'd': 5,
 'cynthia': 6,
 's': 7,
 'crystal': 8,
 'addison': 9,
 'beverly': 10,
 'adkins': 11,
 'robin': 12,
 'sophia': 13,
 'sylvia': 14,
 'h': 15,
 'dorothy': 16,
 'k': 17,
 'n': 18,
 'r': 19,
 'albury': 20,
 'p': 21,
 'alexander': 22,
 't': 23,
 'monique': 24,
 'veronica': 25,
 'j': 26,
 'allen': 27,
 'brenda': 28,
 'margaret': 29,
 'a': 30,
 'stephanie': 31,
 'e': 32,
 'alston': 33,
 'alvin': 34,
 'ashley': 35,
 'anderson': 36,
 'brianna': 37,
 'y': 38,
 'donna': 39,
 'f': 40,
 'm': 41,
 'leslie': 42,
 'paula': 43,
 'tonya': 44,
 'b': 45,
 'jessica': 46,
 'andre': 47,
 'andrews': 48,
 'anthony': 49,
 'shirley': 50,
 'armand': 51,
 'armstrong': 52,
 'arnold': 53,
 'april': 54,
 'arthur': 55,
 'cheryl': 56,
 'tiffany': 57,
 'ash': 58,
 'ashe': 59,
 'annette': 60,
 'atkins': 61,
 'austin': 62,
 'eugenia': 63,
 'linda': 64,
 'sierra': 65,
 'avery': 66,
 'bernadette': 67,
 'krystle': 68,
 'bailey': 69,
 'sharon': 70,
 'annie': 71,
 'v': 72,
 'baker': 73,
 'billie': 74,
 'baldwin': 75,
 'tammy': 76,
 'ball': 77,
 'ballard': 78,
 'jeanette': 79,
 'banks': 80,
 'melissa': 81,
 'sherry': 82,
 'baptiste': 83,
 'barber': 84,
 'barbour': 85,
 'courtney': 86,
 'dana': 87,
 'angela': 88,
 'barkley': 89,
 'joanna': 90,
 'barrett': 91,
 'lorraine': 92,
 'barrow': 93,
 'bertha': 94,
 'bates': 95,
 'erica': 96,
 'battle': 97,
 'denise': 98,
 'battles': 99,
 'kimberly': 100,
 'baxter': 101,
 'teresa': 102,
 'o': 103,
 'latoya': 104,
 'bean': 105,
 'beasley': 106,
 'bell': 107,
 'bellamy': 108,
 'gwendolyn': 109,
 'z': 110,
 'charlene': 111,
 'cassandra': 112,
 'bender': 113,
 'gina': 114,
 'benitez': 115,
 'benjamin': 116,
 'lisa': 117,
 'patricia': 118,
 'bennett': 119,
 'berry': 120,
 'bess': 121,
 'bethea': 122,
 'sandy': 123,
 'black': 124,
 'vanessa': 125,
 'valerie': 126,
 'blanc': 127,
 'blanco': 128,
 'blankenship': 129,
 'tracey': 130,
 'blocker': 131,
 'blount': 132,
 'blue': 133,
 'boggs': 134,
 'felicia': 135,
 'bowers': 136,
 'bowles': 137,
 'bowman': 138,
 'boyd': 139,
 'nicole': 140,
 'braddock': 141,
 'bradford': 142,
 'bradshaw': 143,
 'bradwell': 144,
 'pamela': 145,
 'branch': 146,
 'branton': 147,
 'hope': 148,
 'braun': 149,
 'bray': 150,
 'judith': 151,
 'natasha': 152,
 'brewer': 153,
 'dominique': 154,
 'brice': 155,
 'brinson': 156,
 'gloria': 157,
 'britt': 158,
 'britton': 159,
 'w': 160,
 'broderick': 161,
 'brooks': 162,
 'q': 163,
 'tabitha': 164,
 'latasha': 165,
 'brothers': 166,
 'alexis': 167,
 'brown': 168,
 'frances': 169,
 'jennifer': 170,
 'katrina': 171,
 'kendra': 172,
 'kenyatta': 173,
 'lonnie': 174,
 'natalie': 175,
 'precious': 176,
 'sonya': 177,
 'tina': 178,
 'tory': 179,
 'i': 180,
 'brownlee': 181,
 'israel': 182,
 'melinda': 183,
 'bruton': 184,
 'andrea': 185,
 'bryant': 186,
 'angelina': 187,
 'ebony': 188,
 'leanna': 189,
 'tracy': 190,
 'wanda': 191,
 'terri': 192,
 'buchanan': 193,
 'yvette': 194,
 'lauren': 195,
 'buggs': 196,
 'bullard': 197,
 'burgess': 198,
 'burke': 199,
 'burnett': 200,
 'jacquelyn': 201,
 'burroughs': 202,
 'burrows': 203,
 'bush': 204,
 'marie': 205,
 'butler': 206,
 'roxanne': 207,
 'butts': 208,
 'bynes': 209,
 'bynum': 210,
 'byrd': 211,
 'kerry': 212,
 'tamara': 213,
 'cadet': 214,
 'cain': 215,
 'nikki': 216,
 'caldwell': 217,
 'calhoun': 218,
 'shameka': 219,
 'calvin': 220,
 'tia': 221,
 'camp': 222,
 'campbell': 223,
 'demetria': 224,
 'terry': 225,
 'yolanda': 226,
 'cannon': 227,
 'g': 228,
 'capers': 229,
 'carpenter': 230,
 'carr': 231,
 'carter': 232,
 'rebecca': 233,
 'toccara': 234,
 'kim': 235,
 'chaney': 236,
 'charles': 237,
 'chelsea': 238,
 'charlton': 239,
 'chatfield': 240,
 'alicia': 241,
 'cheek': 242,
 'charlotte': 243,
 'chester': 244,
 'christian': 245,
 'clark': 246,
 'queen': 247,
 'clarke': 248,
 'ruby': 249,
 'clowers': 250,
 'coates': 251,
 'cobb': 252,
 'sabrina': 253,
 'cohen': 254,
 'colbert': 255,
 'cole': 256,
 'coleman': 257,
 'collins': 258,
 'shayla': 259,
 'colson': 260,
 'combs': 261,
 'coney': 262,
 'vivian': 263,
 'amanda': 264,
 'conner': 265,
 'conyers': 266,
 'cook': 267,
 'cooke': 268,
 'rhonda': 269,
 'cooks': 270,
 'juanita': 271,
 'cooley': 272,
 'cooper': 273,
 'joy': 274,
 'mary': 275,
 'sandra': 276,
 'shara': 277,
 'cotton': 278,
 'connie': 279,
 'covington': 280,
 'cowart': 281,
 'cox': 282,
 'craft': 283,
 'eddie': 284,
 'craig': 285,
 'crawford': 286,
 'carla': 287,
 'cray': 288,
 'creighton': 289,
 'croft': 290,
 'cross': 291,
 'crowell': 292,
 'culbreth': 293,
 'cullen': 294,
 'cunningham': 295,
 'curry': 296,
 'curtis': 297,
 'cuyler': 298,
 'dale': 299,
 'daniels': 300,
 'davis': 301,
 'debra': 302,
 'na': 303,
 'tasha': 304,
 'rochelle': 305,
 'dawn': 306,
 'dawson': 307,
 'renee': 308,
 'dean': 309,
 'debose': 310,
 'delancy': 311,
 'dell': 312,
 'denmark': 313,
 'dennard': 314,
 'dennis': 315,
 'denson': 316,
 'diaz': 317,
 'dickerson': 318,
 'dillard': 319,
 'dixon': 320,
 'laurie': 321,
 'doctor': 322,
 'jane': 323,
 'doe': 324,
 'dominguez': 325,
 'june': 326,
 'jessie': 327,
 'dorsey': 328,
 'douglas': 329,
 'x': 330,
 'dow': 331,
 'dowdell': 332,
 'downing': 333,
 'dozier': 334,
 'drayton': 335,
 'driver': 336,
 'kathryn': 337,
 'dukes': 338,
 'dunbar': 339,
 'duncan': 340,
 'dupree': 341,
 'durham': 342,
 'edge': 343,
 'edmond': 344,
 'edouard': 345,
 'edwards': 346,
 'cortney': 347,
 'elder': 348,
 'ellis': 349,
 'monica': 350,
 'ellison': 351,
 'emanuel': 352,
 'brittany': 353,
 'erickson': 354,
 'evans': 355,
 'kayla': 356,
 'everette': 357,
 'farley': 358,
 'feagin': 359,
 'felder': 360,
 'felton': 361,
 'fennell': 362,
 'ferguson': 363,
 'ferrer': 364,
 'fields': 365,
 'michelle': 366,
 'fillmore': 367,
 'fisher': 368,
 'florence': 369,
 'diane': 370,
 'flournoy': 371,
 'flowers': 372,
 'footman': 373,
 'elaine': 374,
 'forbes': 375,
 'ford': 376,
 'forrest': 377,
 'forte': 378,
 'jaime': 379,
 'foster': 380,
 'marsha': 381,
 'ricks': 382,
 'fountain': 383,
 'fowler': 384,
 'fox': 385,
 'francis': 386,
 'frazier': 387,
 'phyllis': 388,
 'frederick': 389,
 'freeman': 390,
 'fuller': 391,
 'fulton': 392,
 'futch': 393,
 'shanta': 394,
 'gadson': 395,
 'iris': 396,
 'gainer': 397,
 'gaines': 398,
 'galloway': 399,
 'santana': 400,
 'gamble': 401,
 'bobby': 402,
 'gandy': 403,
 'stacy': 404,
 'alexandria': 405,
 'gantt': 406,
 'gardner': 407,
 'jamie': 408,
 'rachel': 409,
 'garland': 410,
 'garner': 411,
 'garrett': 412,
 'virginia': 413,
 'garvin': 414,
 'gary': 415,
 'gaskin': 416,
 'jasmine': 417,
 'gaynor': 418,
 'george': 419,
 'germain': 420,
 'deanna': 421,
 'barbara': 422,
 'gibson': 423,
 'giddens': 424,
 'gilbert': 425,
 'bonnie': 426,
 'emily': 427,
 'gilchrist': 428,
 'giles': 429,
 'gilliam': 430,
 'gilmore': 431,
 'gilyard': 432,
 'givens': 433,
 'angel': 434,
 'glenn': 435,
 'glisson': 436,
 'glover': 437,
 'godwin': 438,
 'goff': 439,
 'goins': 440,
 'goldsmith': 441,
 'gooden': 442,
 'goodman': 443,
 'gordon': 444,
 'nichole': 445,
 'goss': 446,
 'graham': 447,
 'shannon': 448,
 'grant': 449,
 'tricia': 450,
 'graves': 451,
 'gray': 452,
 'lillie': 453,
 'green': 454,
 'marion': 455,
 'sheila': 456,
 'greene': 457,
 'grice': 458,
 'griffin': 459,
 'theresa': 460,
 'vikki': 461,
 'tanya': 462,
 'griggs': 463,
 'groover': 464,
 'grubbs': 465,
 'guy': 466,
 'haire': 467,
 'carol': 468,
 'hall': 469,
 'caroline': 470,
 'hamilton': 471,
 'ivey': 472,
 'hammond': 473,
 'hampton': 474,
 'jean': 475,
 'willie': 476,
 'hankins': 477,
 'elizabeth': 478,
 'harden': 479,
 'krystal': 480,
 'hardin': 481,
 'samantha': 482,
 'hardy': 483,
 'hargrove': 484,
 'laura': 485,
 'harper': 486,
 'harrington': 487,
 'harris': 488,
 'audrey': 489,
 'ivory': 490,
 'hart': 491,
 'hartley': 492,
 'harvey': 493,
 'hatcher': 494,
 'priscilla': 495,
 'hawkins': 496,
 'hawthorne': 497,
 'hayes': 498,
 'haygood': 499,
 'grace': 500,
 'haynes': 501,
 'joan': 502,
 'headley': 503,
 'betty': 504,
 'hearn': 505,
 'heath': 506,
 'helms': 507,
 'henderson': 508,
 'hendrix': 509,
 'alexandra': 510,
 'hepburn': 511,
 'herring': 512,
 'holly': 513,
 'hicks': 514,
 'higdon': 515,
 'higgs': 516,
 'highsmith': 517,
 'hill': 518,
 'kenya': 519,
 'penny': 520,
 'bobbie': 521,
 'hills': 522,
 'hinton': 523,
 'kathleen': 524,
 'hobbs': 525,
 'rosa': 526,
 'hodges': 527,
 'holley': 528,
 'hollis': 529,
 'holloman': 530,
 'holloway': 531,
 'holmes': 532,
 'hood': 533,
 'hopkins': 534,
 'horton': 535,
 'hough': 536,
 'house': 537,
 'cherry': 538,
 'howard': 539,
 'christine': 540,
 'hubbard': 541,
 'hudson': 542,
 'ellen': 543,
 'hughes': 544,
 'dionne': 545,
 'hughley': 546,
 'hull': 547,
 'hunt': 548,
 'hunter': 549,
 'amber': 550,
 'hurd': 551,
 'hutchinson': 552,
 'ingram': 553,
 'inman': 554,
 'inmon': 555,
 'issac': 556,
 'omar': 557,
 'jackson': 558,
 'candace': 559,
 'janice': 560,
 'martha': 561,
 'sarah': 562,
 'victoria': 563,
 'stewart': 564,
 'jacobs': 565,
 'james': 566,
 'jamison': 567,
 'jarvis': 568,
 'jefferson': 569,
 'karen': 570,
 'jeffries': 571,
 'jelks': 572,
 'jenkins': 573,
 'jerrell': 574,
 'jerry': 575,
 'jimenez': 576,
 'joe': 577,
 'johnson': 578,
 'colony': 579,
 'kelly': 580,
 'michele': 581,
 'regina': 582,
 'stacey': 583,
 'jolly': 584,
 'jones': 585,
 'carrie': 586,
 'erika': 587,
 'jordan': 588,
 'susan': 589,
 'jordon': 590,
 'joseph': 591,
 'josey': 592,
 'joyner': 593,
 'sonja': 594,
 'judge': 595,
 'kathy': 596,
 'justice': 597,
 'kates': 598,
 'kee': 599,
 'ty': 600,
 'kellam': 601,
 'kellum': 602,
 'constance': 603,
 'kelsey': 604,
 'melody': 605,
 'kennedy': 606,
 'kennon': 607,
 'key': 608,
 'kimble': 609,
 'kinchen': 610,
 'kinder': 611,
 'king': 612,
 'carolyn': 613,
 'peggy': 614,
 'erin': 615,
 'kitchen': 616,
 'knight': 617,
 'knighton': 618,
 'knox': 619,
 'glenda': 620,
 'lake': 621,
 'lamar': 622,
 'lamb': 623,
 'landrum': 624,
 'lane': 625,
 'lashawn': 626,
 'lang': 627,
 'leah': 628,
 'langley': 629,
 'larkin': 630,
 'larry': 631,
 'travis': 632,
 'laster': 633,
 'johnnie': 634,
 'latson': 635,
 'sheena': 636,
 'lawrence': 637,
 'shani': 638,
 'le': 639,
 'lee': 640,
 'heather': 641,
 'lester': 642,
 'lewis': 643,
 'desiree': 644,
 'linder': 645,
 'linton': 646,
 'linzy': 647,
 'lori': 648,
 'little': 649,
 'littles': 650,
 'livingston': 651,
 'lloyd': 652,
 'locke': 653,
 'lockhart': 654,
 'lockley': 655,
 'lofton': 656,
 'logan': 657,
 'lopez': 658,
 'lott': 659,
 'louis': 660,
 'love': 661,
 'lovett': 662,
 'lovette': 663,
 'lowe': 664,
 'jacqueline': 665,
 'lowery': 666,
 'lucas': 667,
 'luckett': 668,
 'lumpkins': 669,
 'lyle': 670,
 'lynch': 671,
 'lyons': 672,
 'mack': 673,
 'mackey': 674,
 'major': 675,
 'diana': 676,
 'malone': 677,
 'manley': 678,
 'manning': 679,
 'manuel': 680,
 'marshall': 681,
 'martin': 682,
 'martinez': 683,
 'mason': 684,
 'massey': 685,
 'mathis': 686,
 'matthews': 687,
 'may': 688,
 'mayes': 689,
 'maynard': 690,
 'mcaffee': 691,
 'mccall': 692,
 'mccaskill': 693,
 'delma': 694,
 'mcclendon': 695,
 'mccollum': 696,
 'mccoy': 697,
 'mccray': 698,
 'cindy': 699,
 'mccree': 700,
 'mcdaniel': 701,
 'mcdonald': 702,
 'mcduffie': 703,
 'mcelroy': 704,
 'mcfadden': 705,
 'krista': 706,
 'mcgee': 707,
 'mcgill': 708,
 'mcgriff': 709,
 'mcintyre': 710,
 'mckenzie': 711,
 'mckinney': 712,
 'mcknight': 713,
 'mclemore': 714,
 'mcmillan': 715,
 'mcmillian': 716,
 'mcquay': 717,
 'mcqueen': 718,
 'whitley': 719,
 'mcrae': 720,
 'mcreynolds': 721,
 'meadows': 722,
 'u': 723,
 'darlene': 724,
 'melton': 725,
 'melvin': 726,
 'merced': 727,
 'merritt': 728,
 'metayer': 729,
 'middleton': 730,
 'joyce': 731,
 'mikell': 732,
 'miles': 733,
 'miller': 734,
 'mills': 735,
 'mims': 736,
 'mitchell': 737,
 'brittney': 738,
 'mercedes': 739,
 'mixon': 740,
 'mobley': 741,
 'shana': 742,
 'monroe': 743,
 'montgomery': 744,
 'moody': 745,
 'moore': 746,
 'belinda': 747,
 'roberta': 748,
 'moreland': 749,
 'morgan': 750,
 'morris': 751,
 'ariel': 752,
 'morton': 753,
 'mosley': 754,
 'mullins': 755,
 'murphy': 756,
 'murray': 757,
 'tara': 758,
 'auguste': 759,
 'murrell': 760,
 'bethany': 761,
 'myers': 762,
 'myles': 763,
 'nash': 764,
 'neal': 765,
 'neeley': 766,
 'nelson': 767,
 'danielle': 768,
 'newbold': 769,
 'newkirk': 770,
 'newsome': 771,
 'newton': 772,
 'nichols': 773,
 'nicholson': 774,
 'noble': 775,
 'shelley': 776,
 'norman': 777,
 'norwood': 778,
 'oates': 779,
 'odom': 780,
 'odoms': 781,
 'alice': 782,
 'oliver': 783,
 'oneal': 784,
 'ortiz': 785,
 'nancy': 786,
 'owens': 787,
 'palmer': 788,
 'palmore': 789,
 'parham': 790,
 'paris': 791,
 'parker': 792,
 'parnell': 793,
 'parris': 794,
 'parrish': 795,
 'pate': 796,
 'patrick': 797,
 'paul': 798,
 'wesley': 799,
 'pearson': 800,
 'whitney': 801,
 'penn': 802,
 'peoples': 803,
 'perdue': 804,
 'perez': 805,
 'lavender': 806,
 'perkins': 807,
 'perry': 808,
 'gladys': 809,
 'pete': 810,
 'peters': 811,
 'peterson': 812,
 'phelps': 813,
 'phillips': 814,
 'pickett': 815,
 'pierce': 816,
 'pierre': 817,
 'rose': 818,
 'pinckney': 819,
 'pinder': 820,
 'pinkney': 821,
 'pittman': 822,
 'pitts': 823,
 'platt': 824,
 'poole': 825,
 'powell': 826,
 'prasad': 827,
 'presley': 828,
 'pressley': 829,
 'price': 830,
 'pride': 831,
 'proctor': 832,
 'pruitt': 833,
 'pugh': 834,
 'quarterman': 835,
 'quinn': 836,
 'ragan': 837,
 'rainey': 838,
 'alisa': 839,
 'randall': 840,
 'rawls': 841,
 'ray': 842,
 'redd': 843,
 'reddick': 844,
 'redding': 845,
 'redmon': 846,
 'reese': 847,
 'reeves': 848,
 'reid': 849,
 'jamila': 850,
 'reynolds': 851,
 'rhodes': 852,
 'rice': 853,
 'richards': 854,
 'richardson': 855,
 'riley': 856,
 'rios': 857,
 'rivera': 858,
 'deborah': 859,
 'rivers': 860,
 'gail': 861,
 'roan': 862,
 'robbins': 863,
 'roberts': 864,
 'robertson': 865,
 'robinson': 866,
 'sherri': 867,
 'rodgers': 868,
 'rodney': 869,
 'rogers': 870,
 'roland': 871,
 'rollins': 872,
 'roosevelt': 873,
 'rosario': 874,
 'rosier': 875,
 'ross': 876,
 'rouse': 877,
 'rowe': 878,
 'rowell': 879,
 'rudolph': 880,
 'rush': 881,
 'rushing': 882,
 'russell': 883,
 'ryan': 884,
 'sampson': 885,
 'samuel': 886,
 'sanchez': 887,
 'sanders': 888,
 'sanderson': 889,
 'santiago': 890,
 'sapp': 891,
 'saunders': 892,
 'scott': 893,
 'tori': 894,
 'sellers': 895,
 'shaw': 896,
 'sheppard': 897,
 'tanisha': 898,
 'simmons': 899,
 'anita': 900,
 'simon': 901,
 'simpson': 902,
 'sims': 903,
 'jill': 904,
 'smith': 905,
 'toni': 906,
 'solomon': 907,
 'sparks': 908,
 'stephen': 909,
 'stephens': 910,
 'stevens': 911,
 'gay': 912,
 'noni': 913,
 'stone': 914,
 'aimee': 915,
 'stuart': 916,
 'sullivan': 917,
 'brandy': 918,
 'swain': 919,
 'sharda': 920,
 'katherine': 921,
 'sylvester': 922,
 'tate': 923,
 'taylor': 924,
 'thomas': 925,
 'thompson': 926,
 'jody': 927,
 'janet': 928,
 'thornton': 929,
 'thurman': 930,
 'tobias': 931,
 'tomar': 932,
 'emilia': 933,
 'torres': 934,
 'townsend': 935,
 'tucker': 936,
 'turner': 937,
 'kristi': 938,
 'tyree': 939,
 'tyson': 940,
 'vance': 941,
 'raven': 942,
 'golden': 943,
 'vasquez': 944,
 'vaughn': 945,
 'vincent': 946,
 'virgil': 947,
 'wade': 948,
 'walker': 949,
 'wallace': 950,
 'walls': 951,
 'walton': 952,
 'ward': 953,
 'betsy': 954,
 'warren': 955,
 'washington': 956,
 'waters': 957,
 'ronnie': 958,
 'watkins': 959,
 'watson': 960,
 'watts': 961,
 'shelly': 962,
 'weaver': 963,
 'webb': 964,
 'webster': 965,
 'sara': 966,
 'wells': 967,
 'west': 968,
 'rita': 969,
 'wheeler': 970,
 'whitaker': 971,
 'white': 972,
 'wiley': 973,
 'wilkins': 974,
 'wilkinson': 975,
 'william': 976,
 'williams': 977,
 'alisha': 978,
 'catherine': 979,
 'jennie': 980,
 'kristina': 981,
 'rashida': 982,
 'williamson': 983,
 'willis': 984,
 'anna': 985,
 'wilson': 986,
 'christina': 987,
 'ja': 988,
 'woods': 989,
 'melanie': 990,
 'wright': 991,
 'kirby': 992,
 'amy': 993,
 'benson': 994,
 'block': 995,
 'brockman': 996,
 'mbrown': 997,
 'dbrown': 998,
 'burch': 999,
 'burton': 1000,
 ...}